/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2016, 3:56:59 PM
    Author     : Lucas_2
*/

x-slider {
    height: 400px;
    width: 400px;
}